        /*----------------------------------------------*/
        /*----------------------For small phone screens-----------------*/
        /*----------------------------------------------*/
        
        @media only screen and (max-width: 480px) {
            html {
                font-size: 7px;
                width: 105%;
                overflow-x: hidden;
            }
            body {
                overflow-x: hidden;
            }
            /*----------------------------------------------*/
            /*---------- Reusable elements -----------------*/
            /*----------------------------------------------*/
            section {
                margin-top: 1em;
            }
            /*-------------------------------------------------*/
            /*------------Main navigation--------------*/
            /*--------------------------------------------------*/
            .nav__item {
                display: none;
            }
            .nav__item--user {
                display: block;
                position: absolute;
                right: 0;
                top: 10px;
            }
            /*-------------------------------------------------*/
            /*------------End of Main navigation--------------*/
            /*--------------------------------------------------*/
            /*-------------------------------------------------*/
            /*------------Main navigation Preview--------------*/
            /*--------------------------------------------------*/
            .account-preview {
                right: 5em;
            }
            .account__badge {
                height: auto;
                font-weight: 100;
            }
            /*-------------------------------------------------*/
            /*------------End of Main navigation Preview--------------*/
            /*--------------------------------------------------*/
            /*----------------------------------------------*/
            /*-----------------Content navigation ------------------*/
            /*----------------------------------------------*/
            main nav {
                padding-bottom: 1.7em;
            }
            main nav ol::after {
                width: 115%;
                left: -3em;
                opacity: 0;
            }
            ol li.active::after {
                left: -2em;
                width: 104%;
            }
            ol li:last-of-type.active::after {
                left: -1em;
                width: 115%;
            }
            ol li:first-of-type.active::after {
                left: -3.3em;
                width: 115%;
            }
            /*----------------------------------------------*/
            /*-----------------End of Content navigation ------------------*/
            /*----------------------------------------------*/
            /*----------------------------------------------*/
            /*----------------------------------------------*/
            /*---------------First container ---------------*/
            /*----------------------------------------------*/
            .container__main__title {
                margin-bottom: 0.4em;
            }
            .container {
                flex-direction: column-reverse;
            }
            .container:first-of-type {
                padding: 2em 0.5em;
                margin: 0;
            }
            .container:first-of-type.active {
                display: block;
            }
            img {
                width: 46%;
            }
            .cart__products figcaption {
                padding-left: 3em;
            }
            .cart__products figcaption span:nth-child(2n) {
                line-height: 1.8em;
            }
            .product__no {
                height: 100%;
                padding-top: 8em;
            }
            .product__no input {
                padding: 0 0 0 0.7em;
                border: 0;
                margin-bottom: 0;
            }
            .container__sub {
                width: 90%;
                margin: auto;
                margin-top: 4em;
            }
            .container__sub .container--title,
            .container__sub--container {
                width: 100%;
                padding-left: 0.3em;
            }
            .container__sub--container h4 {
                flex-basis: 50%;
                font-size: 1.5em;
                line-height: 3em;
            }
            .btn__container {
                margin-bottom: 3em;
            }
            /*----------------------------------------------*/
            /*----------------------------------------------*/
            /*---------------Second container ---------------*/
            /*----------------------------------------------*/
            section:nth-of-type(2n) .container__sub,
            section:last-of-type .container__sub {
                margin-top: 0;
                width: 96%;
            }
            .container__main__content .half-row {
                flex-direction: column;
                width: 100%;
                margin: auto;
            }
            .address {
                width: 92.7%;
            }
            .product__shipping__desc .half-row input {
                margin-left: 0.5em;
            }
            .product__shipping__desc .half-row {
                padding: 1.5em 1em 0 1em;
            }
            .product__shipping__desc .half-row span {
                margin: 0;
                margin-left: 1em;
                width: 100%;
            }
            .product__shipping__desc .half-row span:last-of-type {
                margin-left: 0;
            }
            .product__shipping__desc .half-row input {
                margin-top: .3em;
                margin-right: 0.2em;
                width: 6%;
            }
            .product__shipping__desc .half-row span:first-of-type {
                margin-top: .3em;
            }
            .product__shipping__desc .half-row:last-of-type input {
                margin: 0;
                margin-right: 0.9em;
                margin-top: .2em;
                width: 79%;
            }
            .product__shipping__desc .half-row:last-of-type span:first-of-type {
                width: 100%;
                padding: 0;
                font-size: 1.7em;
                margin-left: 0;
                margin-top: .3em;
                margin-bottom: .3em;
            }
            section:nth-of-type(2n) .container .container__main .btn__container {
                margin-top: 1em;
            }
            .container__main__content .half-row input,
            .container__main__content input:last-of-type,
            select {
                padding: 0.7em;
                height: 2.5em;
                width: 94%;
            }
            .address {
                width: 95%;
            }
            .address input {
                width: 100% !important;
            }
            /*----------------------------------------------*/
            /*----------------------------------------------*/
            /*---------------Third container ---------------*/
            /*----------------------------------------------*/
            section:last-of-type .container__main {
                margin-top: 2em;
            }
            section:last-of-type .container__main__content form {
                padding: 0;
            }
            section:last-of-type .container__main__content.credit__card {
                border: 0;
                width: 100%;
            }
            .product__payment {
                display: flex;
                position: relative;
                margin-bottom: 3em !important;
            }
            .product__payment input {
                margin-top: .5em !important;
            }
            .Payment__radio {
                position: absolute;
                height: 1em !important;
                top: 0;
                left: -45%;
                width: 300px;
                height: 1.3em;
            }
            .card-number {
                margin: auto;
            }
            .credit__card {
                width: 95%;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
            }
            .credit__card .half-row {
                padding: 0 0 1em 0;
                margin-top: 2em;
            }
            .credit__card .product__shipping label span {
                margin-left: 2em;
                margin-top: 0.5em;
            }
            .credit__card .product__shipping label span:last-of-type {
                line-height: 2em;
            }
            .card-cvv,
            .half-sm-row {
                display: flex;
            }
            .card-expiry,
            .card-cvv {
                flex: 1;
                justify-content: center;
            }
            .card-expiry input[type=text] {
                width: 29%;
            }
            .card-expiry input[type=text]:nth-child(2n) {
                width: 14%;
                margin-left: -2.3em;
            }
            .card-expiry input[type=text]:last-of-type {
                margin-left: -1.9em;
                width: 13%;
            }
            .card-cvv input {
                width: 40% !important;
            }
            .Card-no {
                margin: -1em 3.3em !important;
                width: 80% !important;
                height: 3em !important;
            }
            .product__paypal__shipping {
                border: 0;
                width: 97%;
                padding: 0;
                flex-direction: row;
            }
            .product__paypal__shipping label span:last-of-type {
                line-height: 1.7em;
                color: #000000be;
            }
            .product__paypal__shipping img {
                width: 30%;
                height: auto;
            }
            .product__payment input {
                margin-left: 1em;
                margin-right: 0.5em;
            }
            .product__paypal__shipping label {
                margin-left: -.8em;
            }
            section:last-of-type .product__payment {
                margin-bottom: 0 !important;
            }
            section:last-of-type .container .container__main .btn__container {
                margin-top: 0;
            }
        }
        /*----------------------------------------------*/
        /*----------------------For small phone screens-----------------*/
        /*----------------------------------------------*/
        
        @media only screen and (min-width: 400px) and (max-width: 480px) {
            .product__shipping__desc .half-row input {
                margin-top: -.2em;
            }
            .sub__info {
                margin-top: -1.3em !important;
            }
            .product__shipping__desc .half-row:last-of-type input {
                margin-top: -.6em !important;
            }
            .product__shipping__desc .half-row:last-of-type span:first-of-type {
                margin-top: .3em;
            }
            .product__shipping__desc .half-row:last-of-type span:last-of-type {
                margin-top: .3em !important;
            }
        }
        
        @media only screen and (min-width: 400px) and (max-width: 480px) {
            .product__shipping__desc .half-row:last-of-type span:first-of-type {
                margin-top: .3em;
            }
        }
        
        @media only screen and (min-width: 419px) and (max-width: 480px) {
            .product__shipping__desc .half-row:last-of-type span:last-of-type {
                margin-top: .3em !important;
            }
        }
        
        @media only screen and (max-width: 400px) {
            html {
                font-size: 5px;
                width: 104%;
            }
            body {
                overflow-x: hidden;
            }
            section {
                margin-top: 1.5em;
            }
            .container__sub {
                margin-top: 5em;
            }
            /*----------------------------------------------*/
            /*---------------First container ---------------*/
            /*----------------------------------------------*/
            .product__no * {
                font-size: 1.7em;
            }
            .container__sub--container input {
                padding: 0;
            }
            /*----------------------------------------------*/
            /*----------------------------------------------*/
            /*---------------Second container ---------------*/
            /*----------------------------------------------*/
            .container__main__content .half-row input,
            .container__main__content input:last-of-type,
            select {
                padding: 1em;
                height: .3em;
                font-size: 2em;
            }
            select {
                height: 2.3em;
                margin-left: .7em;
            }
            .address {
                margin-left: 1.3em;
            }
            input[type=radio] {
                height: auto;
                width: 5em;
            }
            .product__shipping__desc .half-row {
                width: 25em;
                padding: 2em;
            }
            /*----------------------------------------------*/
            /*----------------------------------------------*/
            /*---------------Third container ---------------*/
            /*----------------------------------------------*/
            section:last-of-type .container__main__content.credit__card {
                padding-top: 2em;
            }
            .Payment__radio {
                margin-left: 1.7em !important;
            }
            .half-row.group {
                margin-top: 2em;
            }
            .card-expiry input[type=text]:nth-child(2n) {
                margin-left: -2em;
                height: 2.2em;
            }
            .card-expiry input[type=text]:last-child {
                height: auto;
                margin-left: -2.3em;
                width: 16%;
            }
            .Card-no {
                padding: 0 0 0 1em !important;
                font-size: 1.4em !important;
                width: 70% !important;
                margin-left: 6em !important;
            }
            .product__payment label {
                width: 100%;
                margin-left: 5em;
            }
            .product__paypal__shipping label {
                margin: 0.2em;
            }
        }
        /*----------------------------------------------*/
        /*----------------------For small tablets screens-----------------*/
        /*----------------------------------------------*/
        
        @media only screen and (min-width: 480px) and (max-width: 1030px) {
            html {
                font-size: 7.5px;
                width: 105%;
                overflow-x: hidden;
            }
            /*----------------------------------------------*/
            /*---------- Reusable elements -----------------*/
            /*----------------------------------------------*/
            section {
                margin-top: 2em;
            }
            /*----------------------------------------------*/
            /*---------------First container ---------------*/
            /*----------------------------------------------*/
            .container {
                flex-direction: column-reverse;
            }
            .container:first-of-type {
                padding: 0 0.5em;
                width: 98%;
                margin: 0;
            }
            .container:first-of-type.active {
                display: block;
            }
            .container--title {
                width: 90%;
                margin: auto;
            }
            .container__main__content input {
                margin: .5em 0;
                padding: .1em;
                text-align: end;
                height: 2.5em;
            }
            .container__sub {
                margin-top: 4em;
                position: relative;
            }
            .container__sub--container {
                width: 97%;
            }
            .container__sub--container h4 {
                margin-top: .5em;
            }
            .container__sub--container__total {
                width: 90%;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0%);
                -webkit-transform: translate(-50%, 0%);
                -moz-transform: translate(-50%, 0%);
                -ms-transform: translate(-50%, 0%);
                -o-transform: translate(-50%, 0%);
            }
            .container__sub--container input {
                height: 1.6em;
                flex-basis: 20%;
            }
            .btn-remove {
                font-size: 1.6em;
            }
            /*----------------------------------------------*/
            /*----------------------------------------------*/
            /*---------------Second container ---------------*/
            /*----------------------------------------------*/
            section:nth-of-type(2n) .container__sub,
            section:last-of-type .container__sub {
                margin-top: 0;
                width: 96%;
            }
            .container--title {
                width: 90%;
                margin: auto;
                margin-bottom: .5em;
            }
            .half-row {
                width: 100%;
                margin: 0 -1.3em;
            }
            section:nth-of-type(2n) .container__main__content input {
                text-align: left;
                padding: 0 1.6em;
                height: 2.5em;
                margin: 1em .7em;
            }
            section:nth-of-type(2n) .container__main__content input::placeholder,
            select {
                color: #00000065 !important;
            }
            .address {
                width: 100%;
                margin: 0 -1.3em;
            }
            .container__main__content input:last-of-type,
            select {
                margin: 1em .7em;
                width: 96%;
            }
            select {
                height: 2.5em;
            }
            .product__shipping__desc .half-row span {
                padding: .2em;
            }
            input[type=radio] {
                height: 3em;
            }
            .sub__info {
                margin-left: 2em !important;
            }
            .half-row.group {
                flex-direction: column;
            }
            .card-number {
                width: 100%;
            }
            .card-number input[type=text] {
                width: 90%;
                text-align: center;
            }
            .card-number input[type=text]:last-of-type {
                margin: 0;
            }
            .half-sm-row {
                position: relative;
            }
            .card-expiry {
                width: 50%;
            }
            .card-expiry input {
                text-align: start;
                width: 50px !important;
            }
            .card-expiry input[type=text]:nth-child(2n) {
                margin-left: -1.2em;
            }
            .card-expiry input[type=text]:last-of-type {
                margin-left: -4em;
                padding-left: 1em;
                margin-top: 1.7em;
            }
            .cvv {
                margin: 1.8em .7em !important;
                text-align: center !important;
                width: 50% !important;
            }
            .Card-no {
                text-align: start !important;
                padding: 0 2em !important;
                height: 3em !important;
                margin: 0 2.5em !important;
                width: 90% !important;
            }
            .Card-no::placeholder {
                font-size: 1.1em;
            }
            .product__paypal__shipping {
                border: 0;
            }
            .product__payment input {
                margin-right: .5em;
            }
        }
        
        @media only screen and (min-width: 720px) and (max-width: 1024px) {
            html {
                font-size: 9px;
            }
            .container--title {
                width: 98% !important;
            }
            .btn-remove {
                font-size: 1.3em !important;
            }
            section:nth-of-type(2n) .container__main__content input,
            select {
                height: 3.5em;
            }
            .cart__name {
                font-size: 2.3em;
                font-weight: 300;
            }
            .cart__price {
                font-size: 1.8em;
            }
            .card-expiry input,
            .Card-no,
            .card-number {
                height: 3.5em !important;
            }
            .container__main__content.credit__card {
                width: 97%;
            }
            .product__payment input {
                margin-left: 1em !important;
            }
            .product__payment input {
                margin-right: .9em;
            }
        }
        
        @media only screen and (min-width: 998px) and (max-width: 1030px) {
            html {
                font-size: 10px;
            }
            .container--title {
                width: 96% !important;
            }
            .card-expiry input[type=text]:last-of-type {
                margin-left: -4.1em;
                padding-left: 1em;
                margin-top: 1.7em;
            }
        }
        
        @media only screen and (min-width: 1030px) and (max-width: 1280px) {
            .card-number {
                width: 130%;
            }
            .card-number input[type=text] {
                width: 100%;
            }
            .card-expiry input[type=text] {
                width: 29%;
            }
            .card-expiry input[type=text]:nth-child(2n) {
                width: 14%;
                margin-left: -1.5em;
            }
            .card-expiry input[type=text]:last-of-type {
                margin-left: -2.5em;
                padding-left: 1em;
                width: 19%;
            }
            .Card-no {
                padding: 0 2em !important;
                height: 3.2em !important;
                margin: 0 2.5em !important;
            }
        }