/*----------------------------------------------*/


/*-----------------Cart elements -----------------*/


/*----------------------------------------------*/

html {
    overflow-x: hidden;
}

body {
    background-color: #ffffff81;
}


/*----------------------------------------------*/


/*---------- Reusable elements -----------------*/


/*----------------------------------------------*/

section {
    margin-top: 3rem;
    z-index: -1;
    position: absolute;
    display: none;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
}

section.active {
    display: block;
    z-index: 100;
}

.container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 2em;
    padding-top: .5em;
}

.container__main {
    flex-basis: 70%;
}

.container--title {
    font-size: 2.2rem;
    color: #000000cc;
    font-weight: 300;
    padding: .3em .5em;
    width: 92%;
    margin: auto;
    border-bottom: 1px solid #cfbbbb8a;
}

.container__main__content {
    border-bottom: 1px solid #cfbbbb8a;
}

.container__main__title {
    width: 93%;
    padding-left: 10px;
}

.container__sub {
    flex-basis: 30%;
}

.container__sub__content {
    margin: 2.4em 0;
}

.cart .product .container__main__content {
    width: 100%;
}

.btn__container {
    margin-top: 3em;
    padding: 0 20px;
}

.cart__products {
    padding: 2em;
    display: flex;
}

.cart__products figcaption {
    padding-left: 4em;
    font-size: 1.7em;
    text-align: start;
    margin: auto;
    width: 50%;
    text-transform: uppercase;
}

.cart__products figcaption span:nth-child(2n) {
    display: block;
    width: 100%;
    font-size: .9em;
    font-weight: 300;
    margin: 2em 0;
    text-transform: capitalize;
}

img {
    width: 30%;
}

.btn__container .btn {
    width: 20%;
    margin-right: 1em;
    padding: .6em;
    color: #000 !important;
    text-align: center;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.btn.btn-next,
.btn.btn-pay {
    background: orangered;
    color: #fff !important;
}

.btn.btn-cancel {
    background: #e7e7e7 !important;
}

input[type=radio] {
    flex-basis: 4.7%;
    margin: 0;
    height: 4em;
}

input::placeholder {
    color: rgba(0, 0, 0, .89);
}


/*----------------------------------------------*/


/*----------End of Reusable elements -----------------*/


/*----------------------------------------------*/


/*-------------------------------------------------*/


/*----------Main navigation Preview elements------------*/


/*-------------------------------------------------*/

.account__badge {
    padding: .25em 0;
}


/*-------------------------------------------------*/


/*----------End of Main navigation Preview elements------------*/


/*-------------------------------------------------*/


/*-------------------------------------------------*/


/*-------------Content navigation elements------------------*/


/*-------------------------------------------------*/

main nav {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 1.8em;
    padding: 2.7em 3.7em 2em 3.4em;
    background: #eeeeee3f;
    box-shadow: inset .6em .6em 1em 0 #eeeeee3f, inset -.6em -.6em 1em 0 #eeeeee3f;
}

main nav ol {
    width: 90%;
    margin: auto;
    display: flex;
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translate(-46%, -50%);
    -webkit-transform: translate(-46%, -50%);
    -moz-transform: translate(-46%, -50%);
    -ms-transform: translate(-46%, -50%);
    -o-transform: translate(-46%, -50%);
}

main nav ol::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 2.1em;
    left: -2em;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #cfbbbb8a;
}

main nav ol li {
    width: 110%;
    height: auto;
    padding-bottom: 1.2em;
    position: relative;
}

ol li.active::after {
    content: "";
    position: absolute;
    width: 105%;
    top: 2.1em;
    left: -2.8em;
    margin: auto;
    display: flex;
    border-bottom: 2px solid #cfbbbbf5;
}

main nav ol li:first-of-type {
    margin-left: .6em;
}


/*-------------------------------------------------*/


/*-------------End of Content navigation elements------------------*/


/*-------------------------------------------------*/


/*----------------------------------------------*/


/*----------------------Content elements-----------------*/


/*----------------------------------------------*/


/*----------------------------------------------*/


/*----------------------1st section elements-----------------*/


/*----------------------------------------------*/

.product__no {
    margin: auto;
    width: 10%;
    height: 3em;
}

.btn-remove {
    background: transparent;
    color: rgba(255, 0, 0, .9);
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
}

.btn-remove:hover,
.btn-remove:active {
    border-bottom: 1px solid rgba(255, 0, 0, .5);
    background: transparent !important;
}

input[type=text] {
    padding: 0 3px;
    border: 2px solid #cfbbbb8a;
    border-radius: 4px;
    outline-color: #cfbbbb8a;
    padding-left: 1em;
    width: 60%;
    height: 100%;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container__sub--container {
    display: flex;
}

.container__sub--container {
    display: flex;
    border-bottom: 1px solid #cfbbbb8a;
    padding-left: 2em;
    width: 90%;
    margin: auto;
    padding-bottom: 1.3em;
}

.container__sub--container h4 {
    flex-basis: 60%;
    font-size: 1.3em;
    font-weight: 600;
}

.container__sub--container input {
    flex-basis: 30%;
    padding: .5em 1em;
    text-align: start;
    border: 1px solid #cfbbbb8a;
}

.total {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row:nth-child(3n) {
    margin-bottom: 0px !important;
}

.row span {
    flex: 1;
    font-size: 1.5em;
    text-transform: uppercase;
}

.row span:last-of-type {
    text-align: end;
}

.row:nth-child(3n) {
    border-bottom: 1px solid #cfbbbb8a;
    padding-bottom: 3em;
}

.row__total {
    padding: 2em 0;
}

.row__total span:last-of-type {
    font-weight: 600;
}


/*----------------------------------------------*/


/*----------------------End of 1st section elements-----------------*/


/*----------------------------------------------*/


/*----------------------------------------------*/


/*----------------------2nd section elements-----------------*/


/*----------------------------------------------*/

.container__main__content form {
    width: 100%;
    padding: 1em 0 0 0;
}

.container__main__content input,
select {
    border: 1px solid #382d2d5d;
    outline: 0;
    margin: 1.7em 0px;
    height: 3em;
    width: 98%;
    padding: 1.6em;
    text-align: start;
}

select {
    width: 90%;
    margin: 1.7em .5em;
}

.container__main__content input:last-of-type,
select {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container__main__content .half-row input {
    outline: 0;
    margin: 1.7em .7em;
    height: 3.2em;
    width: 90%;
}

.product__shipping__desc .half-row input {
    outline: 0;
    margin: 0;
}

.product__shipping__desc>* {
    display: flex;
}

.product__shipping__desc .half-row {
    display: flex;
    height: 10em;
    padding: 2em;
    margin-right: 3em;
    border: 1px solid #c7c7c7c5;
}

.product__shipping__desc .half-row:first-of-type {
    border: 0;
    background: #c7c7c73f;
    box-shadow: inset .6em .6em 1em 0 #c7c7c73f, inset -.6em -.6em 1em 0 #c7c7c73f;
}

.product__shipping__desc .half-row span {
    display: flex;
    margin-left: 1.7em;
    padding: .3em;
}

.product__shipping__desc .half-row span:first-of-type {
    font-size: 1.8em;
    font-weight: 300;
}

.product__shipping__desc .half-row span:last-of-type {
    font-size: 1.4em;
}

.half-row {
    display: flex;
    flex: 1;
}

.address {
    width: 100%;
    margin: auto .7em;
}

.half-row select {
    padding: 0 1em;
    color: #000;
}


/*----------------------------------------------*/


/*----------------------End of 2nd section elements-----------------*/


/*----------------------------------------------*/


/*----------------------------------------------*/


/*----------------------3rd section elements-----------------*/


/*----------------------------------------------*/

.container__main__content.credit__card {
    border: 1px solid #aaa;
    margin: 3em 0 3em 0;
    padding: 1em 0 4em 0;
    position: relative;
    width: 98%;
}

.product__payment {
    display: flex;
    position: relative;
}

.product__payment input {
    flex-basis: 2%;
    margin-top: 2em;
    margin-right: 3em;
    color: #aaa;
}

.product__payment label {
    flex-basis: 90%;
    height: auto;
    margin: auto;
    text-align: start;
    font-size: 1.8em;
    color: #aaa;
    user-select: none;
}

.product__payment label span {
    display: block;
}

.product__payment label span:last-of-type {
    margin-top: .5em;
    font-size: .8em;
}

.container form {
    width: 95%;
    margin: auto;
}

.card-number {
    display: flex;
    width: 76%;
    //border: 1px solid black;
}

.half-row.group {
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.card-number input[type=text] {
    border: 1px solid #c7c7c7c5;
    height: 3em;
    width: 27%;
    margin-right: -4em;
    margin: auto;
    border-right: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card-number input[type=text]::placeholder,
.card-expiry input[type=text]::placeholder,
.card-cvv input[type=text]::placeholder {
    color: #aaa;
}

.card-number input[type=text]:nth-child(n+1) {
    border-left: none;
}

.card-number input[type=text]:first-of-type {
    border-left: 1px solid #aaa;
}

.card-number input[type=text]:last-of-type {
    border-right: 1px solid #aaa;
}

.card-expiry,
.half-sm-row {
    display: flex;
}

.card-expiry {
    justify-content: center;
}

.half-sm-row {
    justify-content: space-around;
}

.card-expiry input[type=text] {
    padding: 0 .9em;
    border: 1px solid #c7c7c7c5;
    width: 23%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card-expiry input[type=text]:nth-child(2n) {
    margin-left: -2.7em;
    width: 14%;
    padding: 0;
    border: 0;
    background: transparent;
}

.card-expiry input[type=text]:last-of-type {
    margin-left: -2.9em;
    width: 10%;
    padding: 0;
    border-left: 0;
}

.cvv {
    border: 1px solid #c7c7c7c5 !important;
    border: 0;
    width: 100% !important;
}

.Card-no {
    border: 1px solid #c7c7c7c5 !important;
    height: 3.6em !important;
    width: 90% !important;
    margin: 1em 3em !important;
    text-transform: uppercase;
}

.Card-no::placeholder {
    color: #0000007c;
    text-transform: capitalize;
    font-size: 1.19em;
}

.paypal__payment {
    border-top: 1px solid #cfbbbb8a;
    width: 98%;
    margin: 4em 0;
    padding: 4em 0;
}

.product__paypal__shipping {
    border: 1px solid #000;
    padding: 2em 3em;
    line-height: 2.4em;
}

.product__paypal__shipping label {
    padding: 1em 1em;
    color: #000;
}

.product__paypal__shipping img {
    height: 70%;
    margin: auto;
}


/*----------------------------------------------*/


/*----------------------End of 3rd section elements-----------------*/


/*----------------------------------------------*/


/*----------------------------------------------*/


/*----------------------End of Content elements-----------------*/


/*----------------------------------------------*/


/*----------------------------------------------*/


/*-----------------End of Cart elements -----------------*/


/*----------------------------------------------*/