/// CART PREVIEW ///
.cart {
  overflow: hidden;
  border-bottom: var(--line);
  padding: 2rem 1.3rem;
  display: flex;
  align-items: center;

  & > * {
    flex: 1;
  }

  &__product {
    width: 30%;
    border-radius: 5px;
  }

  &__desc {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 600;
    font-size: 1.6rem;
  }

  &__price {
    font-weight: 400;
    font-size: 1.4rem;
    &::first-letter {
      margin-right: 2px;
      font-size: 1.2rem;
    }
  }
  &__total {
    font-size: 1.8rem;
    font-weight: 600;
    align-self: center;
    margin: 1rem 0;
  }
}

//// ACCOUNT PREVIEW  ////
.account {
  overflow: hidden;
  display: flex;
  align-items: center;

  &__img {
    width: 30%;
    border-radius: 50%;
  }

  &__desc {
    margin-left: 1.3rem;
  }

  &__name {
    font-weight: 600;
    font-size: 1.8rem;
  }

  &__email {
    font-size: 1.15rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__badge {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-red);
  }
}
